<%# add navigation links to this file %>
<li><%= link_to 'About', root_path %></li>
<li><%= link_to 'Request Test', vendor_request_message_index_path %></li>
<li><%= link_to 'Vendor Test', vendor_test_sequence_index_path %></li>
<li><%= link_to 'Reports', message_log_index_path %></li>

<li><%= link_to 'Request Log', request_log_index_path %></li>



