<%#
# Application Layout

This view template is used as the layout
for every page that Administrate generates.

By default, it renders:
- Sidebar for navigation
- Content for a search bar
  (if provided by a `content_for` block in a nested page)
- Flashes
- Links to stylesheets and Javascripts
%>
<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8" />
    <meta name="ROBOTS" content="NOODP" />
    <meta name="viewport" content="initial-scale=1" />
    <title><%= title %></title>
    <%= stylesheet_link_tag "administrate/application", media: "all" %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag 'application' , "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <div class="app-container">
      <main class="main-content" role="main">
        <%= content_for(:search) %>
        <%= render :template => "layouts/_flashes" -%>
        <%= yield %>
      </main>
    </div>
    <%# render "javascript" %>
  </body>
</html>