<h1>Edit Message</h1>
<header class="header">
  <h1 class="header__heading" id="page-title"><%= content_for(:title) %></h1>
  <div class="header__actions">
    <td><%= link_to 'Back', message_index_path, class: "button" %></td>
  </div>
</header>
<%= form_for @message do |f| %>
  <div class="field-unit field-unit--string">
    <div class="field-unit__label">
      <%= f.label :name %>
    </div>
    <div class="field-unit__field">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="field-unit field-unit--string">
    <div class="field-unit__label">
      <%= f.label :package_group%>
    </div>
    <div class="field-unit__field message_field-unit__field">
      <%= f.select :package_group_id, PackageGroup.where(package_group_id: @message.package_group_id).collect {|x| [ x.name, x.package_group_id ]} %>
    </div>
  </div>
  <div class="field-unit field-unit--string">
    <div class="field-unit__label">
      <%= f.label :message_reply%>
    </div>
    <div class="field-unit__field message_field-unit__field">
      <%= f.select :message_reply_id, MessageReply.where(message_id: @message.message_id).collect {|x| [ x.description, x.message_reply_id ]}, {:include_blank => 'None'} %>
    </div>
  </div>

  <%= f.fields_for :selected_message do |selected_message| %>
    <div class="field-unit field-unit--string">
      <div class="field-unit__label">
        <label for="response_code">Payload : </label>
      </div>
      <div class="field-unit__field">
        <%= selected_message.text_area :message_text, disabled: 'disabled', class: 'pre_message' %>
      </div>
    </div>
  <% end %>
 
  <div class="field-unit field-unit--string">
    <div class="field-unit__label">
      <%= f.label :xsd_file %>
    </div>
    <div class="field-unit__field">
      <%= f.text_field :xsd_file %>
    </div>
  </div>
  <div class="field-unit field-unit--string">
    <div class="field-unit__label">
      <%= f.label :root_element %>
    </div>
    <div class="field-unit__field">
      <%= f.text_field :root_element %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>