<h1>New Vendor Test Sequence</h1>
<header class="header">
  <h1 class="header__heading" id="page-title"><%= content_for(:title) %></h1>
  <div class="header__actions">
    <td><%= link_to 'Back', :back, class: "button" %></td>
  </div>
</header>
<%= form_for :vendor_test_sequence, url: vendor_test_sequence_index_path do |f| %>
  <div class="field-unit field-unit--string">
    <div class="field-unit__label">
      <%= f.label :test_sequence%>
    </div>
    <div class="field-unit__field">
      <%= f.select :test_sequence_id, TestSequence.all.collect {|x| [ x.name, x.id]}, {},
      :onChange => "javascript:setTextSequenceName($(this).val())"%>
    </div>
  </div>
  <div class="field-unit field-unit--string">
    <div class="field-unit__label">
      <%= f.label 'vendor_url'%>
    </div>
    <div class="field-unit__field">
      <%= f.text_field :vendor_url%>
    </div>
  </div>
  <div class="field-unit field-unit--string">
    <div class="field-unit__label">
      <%= f.label 'Comment' %>
    </div>
    <div class="field-unit__field">
      <%= f.text_area :comment %>
    </div>
  </div>
  <div class="field-unit field-unit--string">
    <div class="field-unit__label">
      <%= f.label 'Asynch' %>
    </div>
    <div class="field-unit__field">
      <%= f.check_box :asynch_flag %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>